* {
    box-sizing: border-box;
    background-color: white;
}

.header {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10), 
            0px 1px 2px rgba(0, 0, 0, 0.06);
    background-color:#fefefe;

}
.logo {
    width: 70px;
    height: auto;
}

/* ===================================================================== */
.form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.form input, .form button {
    border: 1px solid #d1d5db;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10), 
            0px 1px 2px rgba(0, 0, 0, 0.06);
            flex-grow: 1;
            min-width: 100px;
            max-width:400px
}
.form button {
    border: none;
    background-color: black;
    color: wheat;
}

/* ========================================================================== */
main {
    padding: 0 20px;
}

section {
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

section > h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 0;
  color: #333;
}

.ingredients-list {
  list-style: disc;
  padding:5px 20px;
  margin-bottom: 60px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  min-height: 50px;
  background-color: #f9f9f9;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.get-recipe-container h3 {
  margin: 0;
  font-size: 1.2rem;
}

.get-recipe-container p {
  margin: 5px 0 0;
  font-size: 0.95rem;
  color: #555;
}

.get-recipe-container button {
  background-color: black;
  color: wheat;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-recipe-container button:hover {
  background-color: #575552;
}
